<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h3>a la Express</h3>
  </header>
  <nav>
    <input class="search_input" type="text">
    <div class="singIn">
      <p>Войти</p>
    </div>
    <div class="orders">
      <p>Заказы</p>
    </div>
    <div class="cart">
      <p>Корзина</p>
    </div>
  </nav>
  <main>

  <app-category></app-category>
  <app-category></app-category>
  <app-category></app-category>

  <app-product></app-product>
  
  </main>
  <footer>by Igor P</footer> 
</body>
</html>
