<header><h1>a la Express</h1></header>

<app-navigation></app-navigation>

<main>
    <div class="left">
        <app-narrow-categories></app-narrow-categories> 
    </div>

    <div class="center">

        <div class="banner"></div>
        
        <button (click)="event='left'"><<</button>
        <button (click)="event='right'">>></button>
        
        <div class="wideCategories">
            <h3>Категории</h3>
            <div class="wideCategories-app-category">
                <app-category [@general_category]="event" *ngFor="let category of wideCategories; let i=index" [category]="wideCategories[i]"></app-category>
            </div>
            
        </div>

        <div class="novelties">
            <h3>Новинки</h3>
            <div class="novelties-app-item">
                <app-item *ngFor="let product of [0, 1, 2, 3, 4]; let i=index;" [product]="productsByDateTime[i]"></app-item>
            </div> 
            
        </div>
    </div>

    <div class="right">
        <div class="hitsOfSales">
            <h3>Хиты продаж</h3>
            <app-item *ngFor="let product of [0, 1 , 2]; let i=index;" [product]="productsByRating[i]"></app-item>
        </div>
    </div>
</main>