Wide-Category work

<!-- <div class="wideCategories">
    <h3>Категории</h3>

    <ul *ngFor="let wideCategory of wideCategories">
        <a routerLink="/products/{{wideCategory.name}}">
            <li>{{wideCategory.name}}</li>
        </a>     
    </ul>   
    
</div> -->

<a routerLink="/products/{{wideCategory.name}}">
    <div class="category">
        <h4>{{wideCategory.name}}</h4>
        <div class="category-image">
            <img [src]="wideCategory.image" [alt]="wideCategory.name">
        </div>
    </div>      
</a>
